* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  width: 10%;
  height: 100vh;
  font-family: "Geist Mono";
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.sidebar-container {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: center;
  display: flex;
  flex-direction: row-reverse;
}

.side-item {
  text-align: center;
  background-color: white;
  width: 200px;
  height: 40px;

  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.projekt1 {
  margin-left: 0.5rem;
}

.projekt1:hover {
  background-color: #ff8d4f;
}

.projekt2 {
  margin-right: 0.5rem;
}

.projekt2:hover {
  background-color: #6cdff4;
}

.hidden {
  display: none;
}
